<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>www.koheishingai.com</title>
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,700' rel='stylesheet' type='text/css'>
<link href='/styles/main.css' rel='stylesheet'>

<style>
  
  #logoul li a:hover {

    border-bottom: none !important;

    color:#9e9e9e !important;

  }




#wraptitle {
bottom: 2px !important;
position: absolute;
width: 100%;
}


@media (max-width: 43.75em){
#wcontent{
padding: 0 20px !important;
}

</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
<script src="/scripts/outclick.js"></script>
<script src='/scripts/main.js'></script>
<script src='/scripts/colplace.js'></script>
</head>
<body>
  <header id='header'>
    <div id='logo'>
      <h1 id='logoh1'>www.koheishingai.com</h1>
      <ul id="logoul">
        <li style="" id='search'>
          <div id="swrap">
            <input placeholder="Search on www.kohishingai.com..." type="text" value="" name="s" id="s">
          </div>
        </li>
        <li style="width: 114px;"><a href="/article" class='off' id='article'>Article</a></li>
        <li style="width: 75px;" id='collectionli'><a href="/collections" class='on' id='collection'>Collections</a></li>
        <li style="width: 111px;"><a href="/works" style="" class='off' id='works'>Works</a></li>
        <li style="width: 67px;"><a href="/about" class='off' id='about'>About</a></li>
      </ul>
      <div id='topmenu'></div>
    </div>
  </header>
  <div id='wrap'>
    <div id='wraphead'>
      <div id='whleft'>
        <div id='ctg'>Everything</div>
        <div id='down'></div>
      </div>
      <div id='whright'>
        <div class='wrmenu' id='wrm01'></div>
        <div class='wrmenu' id='wrm02'></div>
        <div class='wrmenu' id='wrm03'></div>
      </div>
    </div>
    <div id='wcontent'>
      <div class='article'></div>
      <div class='article'></div>
      <div class='article'></div>
      <div class="clears" style="width:100%; height: 42px; clear:both;"></div>
    </div>
    <div id="wraptitle">
      <div id="leftmenu" class="menus"></div>
      <div id='previous'>Previous</div>
      <div id="rightmenu" class="menus"></div>
      <div id='next'>Next</div>
    </div>
  </div>
  <footer id='footer'>
    <ul id="left">
      <li>© 2013 <span>www.koheishingai.com</span></li>
    </ul>
    <ul id="right">
      <li id='twitter'>Twitter</li>
      <li id='github'>Github</li>
      <li id='codepen'>Codepen</li>
      <li id='mail'>Mail</li>
    </ul>
  </footer>
  
  <div id='remote'>

      <div id='rhead'>...</div>
      <div class='icon' id='phone'></div>
      <div class='icon' id='color'></div>
      <div class='icon last' id='top'></div>
    </div>

<div id='colorm'>
  <div id='cbox'>
    <div id='close'></div>
    <div id='mhead'>
      <span>Chose a theme</span>
    </div>
    <div id='mcont'>
      <div id='mconth'></div>
      <div id='mcontt'>From KoheiShingai</div>
      <div id='wrapomc'>
      <div class='outmc onm'>
        <div class='outmcin'>
          <div class='themes' id='defgre'>Default Greyscale</div>
        </div>
      </div>
      <div class='outmc'>
        <div class='outmcin'>
          <div class='themes' id='dayt'>Day Dream</div>
        </div>
      </div>
    </div>
    </div>
    <div id='okbtn'>OK</div>
  </div>
</div>
  
  <script>
    $(function(){

      //socket section
  
      var socket = io.connect('http://localhost:8081');
  
      socket.on('examples', function (data) {
     
      //alert(data);
  
      });


    });
  </script>
  
</body>
</html>