<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>www.koheishingai.com</title>
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="/styles/main.css" rel="stylesheet">
<style>
  #wcontent {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .visual {
    height: auto;
    margin: 0px 20px;    
    padding: 430px 0px 0px;
    position: relative;
    font-size: 20px; 
    text-align: center;    
    border-collapse: collapse; 
    list-style: none; 
    color: rgb(255, 255, 255);  
    overflow: hidden;
    background-image: none;
  }
  .slide {
    top: 0px;
    left: 0px;
    width: 4700px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
    list-style: none;
    position: absolute;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -ms-transition: 0.2s;
  }
  .slide-item.item1 {
    width: 940px; 
    height: 430px; 
    padding: 0px;
    margin: 0px; 
    border-collapse: collapse; 
    list-style: none; 
    float: left;
    text-align: right;
    background-image: url(http://farm6.staticflickr.com/5505/10624711695_2c87385f18_o.png); 
    background-size: 940px 430px;  
    background-position: 0px 0px; 
    background-repeat: no-repeat no-repeat;
  }
  .slide-item.item2 {
    width: 940px; 
    height: 430px; 
    padding: 0px; 
    margin: 0px; 
    border-collapse: collapse; 
    list-style: none; 
    float: left; 
    text-align: left; 
    background-image: url(http://d1c5t9xsxiurcy.cloudfront.net/_static_gen/_ui/images/business/about-discover2.c11ab07348ca.jpg); 
    background-size: 940px 430px; 
    background-position: 0px 0px; 
    background-repeat: no-repeat no-repeat;
  }
  .slide-item.item3 {
      padding: 0px; 
      margin: 0px; 
      border-collapse: collapse; 
      list-style: none; 
      background-image: url(http://d1c5t9xsxiurcy.cloudfront.net/_static_gen/_ui/images/business/about-discover3.04e79d1c4cba.jpg); 
      background-size: 940px 430px; 
      float: left; 
      width: 940px; 
      height: 430px; 
      background-position: 0px 0px; 
      background-repeat: no-repeat no-repeat;
    }
    .slide-item.item4 {
      width: 940px; 
      height: 430px; 
      padding: 0px; 
      margin: 0px; 
      float: left;
      border-collapse: collapse; 
      list-style: none; 
      background-image: url(http://d1c5t9xsxiurcy.cloudfront.net/_static_gen/_ui/images/business/about-discover4.e2ba254cbb6b.jpg); 
      background-size: 940px 430px;  
      background-position: 0px 0px; 
      background-repeat: no-repeat no-repeat;
    }
    .slide-item.item5 {
      width: 940px; 
      height: 430px; 
      padding: 0px; 
      margin: 0px; 
      float: left; 
      text-align: left; 
      border-collapse: collapse; 
      list-style: none; 
      background-image: url(http://d1c5t9xsxiurcy.cloudfront.net/_static_gen/_ui/images/business/about-discover5.5cc187f3d090.jpg); 
      background-size: 940px 430px; 
      background-position: 0px 0px; 
      background-repeat: no-repeat no-repeat;
    }
    .btn-next {
      top: 50%;
      right: 20px; 
      width: 48px; 
      height: 49px; 
      padding: 0px; 
      margin: -15px 0 0 0;
      border-collapse: collapse; 
      list-style: none; 
      text-decoration: none; 
      color: rgb(77, 114, 167); 
      background-image: url(http://farm3.staticflickr.com/2889/10644048236_785cdc102d_o.png); 
      background-size: 800px 240px; 
      position: absolute;   
      background-position: -270px -180px; 
      background-repeat: no-repeat no-repeat;
      opacity: 0.7;
    }
    .btn-prev {
      top: 50%;
      left: 20px;
      width: 48px;
      height: 49px;
      padding: 0px;
      margin: -15px 0 0 0;
      position: absolute;
      border-collapse: collapse;
      list-style: none;
      text-decoration: none;
      color: rgb(77, 114, 167);
      background-image: url(http://farm3.staticflickr.com/2889/10644048236_785cdc102d_o.png);
      background-size: 800px 240px;
      background-position: -210px -180px;
      background-repeat: no-repeat no-repeat;
      opacity: 0.7;
    }
    .join-text {
      padding: 0px 0px 15px; 
      margin: 0px; 
      border-collapse: collapse; 
      list-style: none; 
      text-align: center; 
      font-size: 32px; 
      line-height: 36px;
    }
    #titlep {
      padding: 30px 0px 28px;
      margin: 0px;
      border-collapse: collapse;
      list-style: none;
      color: rgb(128,128,128);
    }
    .btn-blue.btn-join {
      min-width: 217px; 
      height: auto;
      padding: 0px 20px; 
      margin: 0px 0px 20px; 
      font-size: 18px; 
      line-height: 47px; 
      border-collapse: collapse; 
      list-style: none; 
      vertical-align: middle; 
      background-color: rgb(35, 142, 207);  
      border: 0px; 
      color: rgb(255, 255, 255); 
      box-shadow: none; 
      border-top-left-radius: 2px; 
      border-top-right-radius: 2px; 
      border-bottom-right-radius: 2px; 
      border-bottom-left-radius: 2px; 
      text-shadow: rgba(77, 123, 196, 0.74902) 0px 1px 1px;
      cursor: pointer; 
    }
    #content {
      width: 980px; 
      min-height: 427px;
      padding: 0px 0px 40px; 
      margin: 0px; 
      position: relative;
      float: left;
      border-collapse: collapse; 
      list-style: none;  
    }
    #animation{
      padding: 0px; 
      margin: 0px; 
      border-collapse: collapse;
      list-style: none;
    }
    #tid {
      padding: 0px 0px 20px; 
      margin: 0px; 
      border-collapse: collapse; 
      list-style: none; 
      line-height: 1em; 
      font-size: 17px; 
      color: rgb(91, 137, 151);
    }
    #tiu {
      padding: 49px 0px 10px; 
      margin: 0px; 
      border-collapse: collapse; 
      list-style: none; 
      line-height: 1em; 
      font-size: 64px; 
      color: rgb(35, 47, 53);
    }
    #tit1 {
      width: 100%;
      padding: 37px 39px 10px 0px;
      margin: 0px;
      border-collapse: collapse;
      list-style: none;
      line-height: 1em;
      font-size: 64px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
    }
    #txt2 {
      width:100%;
      padding: 0px 42px 20px 0px; 
      margin: 0px; 
      border-collapse: collapse; 
      list-style: none; 
      line-height: 1em; 
      font-size: 17px;
      font-family: 'Open Sans', sans-serif;
    }
    .business-support {
      padding: 20px 0px 20px;
      margin: 0px 20px;
      border-collapse: collapse;
      list-style: none;
      clear: both;
      background-image: none;
    }
    .bsul {
      width: 100%;
      height: 345px;
      padding: 0px;
      margin: 0px auto;
      border-collapse: collapse;
      list-style: none;
      box-shadow: none;
    }
    .bsli {
      width: 50%;
      height: 100%;
      padding: 58px 0px 0px;
      margin: 0px;
      border-collapse: collapse;
      list-style: none;
      float: left;
      font-size: 18px;
      line-height: 26px;
      color: rgb(128, 128, 128);
      text-align: center;
    }
    .span1 {
      padding: 0px 0px 2px;
      margin: 0px;
      border-collapse: collapse;
      list-style: none;
      color: rgb(72, 85, 104);
      font-size: 30px;
      display: block;
    }
    .go-help {
      padding: 0px 0px 0px;
      margin: 0px;
      border-collapse: collapse;
      list-style: none;
      text-decoration: none;
      color: rgb(77, 114, 167);
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
    }
    .inbox {
      width: 100%;
      height: 180px;
      overflow: hidden;
    }
    #inb2 {
      padding: 10px 10px 10px 23px;
    }
    #inb1 {
      padding: 10px 10px 10px 23px;
    }
    #skill {
      width: 100%;
      height: 100%;
      margin: 2px auto -2px;
      outline: 0px;
      vertical-align: baseline;
    }
    .skilli {
      margin: 0px 13px 13px 0px;
      padding: 0px;
      position: relative;
      border: 0px;
      float: left;
      text-align: center;
      outline: 0px;
      vertical-align: baseline;
      background-color: transparent;
    }
    .skillimg {
      margin: 0px;
      padding: 0px;
      border: 0px;
      outline: 0px;
      vertical-align: baseline;
      background-color: transparent;
      display: block;
    }
    #skillul {
      width: 248px;
      margin: 20px auto;
      padding: 0px;
      border: 0px;
      outline: 0px;
      vertical-align: baseline;
      background-color: transparent;
      list-style: none;
    }
    .skillul2 {
      margin: 46px auto !important;
    }
    .skill3, .skill4, .skill5 {
      width: 100%;
      height: 100%;
      margin: 0px auto 0px;
      outline: 0px;
      vertical-align: baseline;
      line-height: 50px;
    }
    .anim{
    opacity:0;
    -webkit-animation: op 0.7s ease 1;
    -moz-animation: op 0.7s ease 1;
    -o-animation: spin 0.7s ease 1;
    -ms-animation: spin 0.7s ease 1;
    animation: spin 0.7s ease 1;
    }
    @-webkit-keyframes op{
      from {opacity:0;}
      to {opacity:1;}
    }
    @-moz-keyframes op{
      from {opacity:0;}
      to {opacity:1;}
    }
    @-o-keyframes op{
      from {opacity:0;}
      to {opacity:1;}
    }
    @-ms-keyframes op{
      from {opacity:0;}
      to {opacity:1;}
    }
    @keyframes op{
      from {opacity:0;}
      to {opacity:1;}    
    }
    @media (max-width: 1151px){
      #ral{
        font-size:24px !important;
      }    
    }

    @media (max-width: 43.75em){
      .inbox {
        height: 153px;
      }
      #skillul {
        width: 248px;
        margin: 10px auto;
        padding: 0px;
        border: 0px;
        outline: 0px;
        vertical-align: baseline;
        background-color: transparent;
        list-style: none;
      }
      .skillul2{
        margin: 40px auto !important;
      }
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/scripts/detect.js"></script>
<script src='/scripts/outclick.js'></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/fittext.js" async></script>
<script src="/scripts/theme.js" async></script>
<script src="/scripts/slide.js" async></script>
<script src="/scripts/col.js" async></script>
<!--[if lt IE 7 ]><link href="./styles/ie.css" rel="stylesheet" type="text/css"><![endif]-->
<!--[if IE 7 ]><link href="./styles/ie.css" rel="stylesheet" type="text/css"><![endif]-->
<!--[if IE 8 ]><link href="./styles/ie.css" rel="stylesheet" type="text/css"><![endif]-->
<!--[if IE 9 ]><link href="./styles/ie.css" rel="stylesheet" type="text/css"><![endif]-->
</head>
<body>  
  <header id="header">
    <div id="logo">      
      <a href="http://www.koheishingai.com" style="text-decolation:none;"><h1 id="logoh1">www.koheishingai.com</h1></a>      
      <ul id="logoul">
        <li id="search">
          <div id="swrap">
            <input placeholder="Search on www.kohishingai.com..." type="text" value="" name="s" id="s">
          </div>
        </li>
        <li style="width:114px;"><a href="/article"  id="article">Article</a></li>
        <li id="collectionli" id="collectionli" style="width:75px;"><a href="/collections"  id="collection">Collections</a></li>
        <li style="width:111px;"><a href="/works" id="works">Works</a></li>
        <li style="width:67px;"><a href="/about"  id="about">About</a></li>
      </ul>
      <div id="topmenu"></div>
    </div>
  </header>
  
  <div id="wrap">    
    <div id="wcontent">      
      <div id="animation" class="ani4">
        <div class="visual">
          <div class="slide">
            
            <div class="slide-item item1">
              <p id="tit1" class="tit">Welcome!!</p>
              <p id="txt2" class="txt">I am Web Developer.</p>
            </div>

            <div class="slide-item item2" style="display:none;">
              <p class="tit" style="padding: 165px 0px 10px 101px; margin: 0px; border-collapse: collapse; list-style: none; line-height: 1em; font-size: 64px;">Buy with Fancy</p>
              <p class="txt" style="padding: 0px 0px 20px 104px; margin: 0px; border-collapse: collapse; list-style: none; line-height: 1em; font-size: 17px; color: rgb(255, 199, 0);">ONE STORE. THOUSANDS OF THINGS.</p>
            </div>
            
            <div class="slide-item item3" style="display:none;">
              <p class="tit" style="padding: 49px 0px 10px; margin: 0px; border-collapse: collapse; list-style: none; line-height: 1em; font-size: 64px;">Fancy Gifts</p>
              <p class="txt" style="padding: 0px 0px 20px; margin: 0px; border-collapse: collapse; list-style: none; line-height: 1em; font-size: 17px; color: rgb(124, 18, 21);">GIFT CARDS · GROUP GIFTS · FANCY BOX</p>
            </div>

            <div class="slide-item item4" style="display:none;">
              <p id="tiu" class="tit">Find &amp; Collect</p>
              <p id="tid" class="txt">BUILD YOUR COLLECTION. EXPRESS YOUR STYLE.</p>
            </div>
            
            <div class="slide-item item5" style="display:none;">
              <p class="tit" style="padding: 165px 0px 10px 101px; margin: 0px; border-collapse: collapse; list-style: none; line-height: 1em; font-size: 64px;">Earn Credits</p>
              <p class="txt" style="padding: 0px 0px 20px 106px; margin: 0px; border-collapse: collapse; list-style: none; line-height: 1em; font-size: 17px; color: rgb(66, 200, 191);">INVITE YOUR FRIENDS. GET REWARDED.</p>
            </div>

          </div>

        <a href="http://fancy.com/about#" class="btn-next" style="display:none;"></a>
        <a href="http://fancy.com/about#" class="btn-prev" style="display:none;"></a>
      </div>
    </div>

    <div class="join-text">
      <p id="titlep">I create everything, design everything, fix everything about the Web.</p>
      <a href='/collections'><button class="btn-blue btn-join" type="button">View Collections</button></a>
    </div>
    
    <script src="/scripts/animindex.js"></script>
    <div class="business-support">
      
      <ul class='bsul'>
        
        <li class='bsli'>
          <span id="wcid" class="span1">What I can do</span>
          <div class="inbox" id="inb1">
            <section id="skill">
              <ul id="skillul">
                <li class="skilli"><img class="skillimg" src="http://farm4.staticflickr.com/3672/10746217765_168840785c_o.png" alt="HTML5" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm3.staticflickr.com/2857/10746214775_7326cc58d4_o.png" alt="CSS" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm8.staticflickr.com/7371/10746144675_4b95caf00d_o.png" alt="js" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm4.staticflickr.com/3687/10746139025_7c852f4d86_o.png" alt="node" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm8.staticflickr.com/7396/10746527233_11011ac7fc_o.png" alt="jQuery" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm6.staticflickr.com/5519/10746299006_90ac265b1b_o.png" alt="CrossDevice" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm8.staticflickr.com/7437/10746323324_e14540833a_o.png" alt="Photoshop" width="49" height="49"></li>
                <li><img class="skillimg" src="http://farm6.staticflickr.com/5526/10746522493_29bddb0112_o.png" alt="illustrator" width="49" height="49"></li>
              </ul>
            </section>
          </div>
          <a href="/about" class="go-help">Detail</a>
        </li>
        
        <li class='bsli' style="border-left: 1px solid rgb(223, 223, 223);">
          <span id="wcij" class="span1">Join as a Business</span>
          <div class="inbox" id="inb2">
            <section id="skill" class='skill2'>
              <ul id="skillul" class="skillul2">
                <li class="skilli"><img class="skillimg" src="http://farm4.staticflickr.com/3757/10748437694_0270cb50d9_o.png" alt="HTML5" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm4.staticflickr.com/3707/10748371925_9d2c15b08b_o.png" alt="CSS" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm6.staticflickr.com/5499/10748633323_49c7640ef7_o.png" alt="js" width="49" height="49"></li>
                <li class="skilli"><img class="skillimg" src="http://farm8.staticflickr.com/7436/10748326035_ce1f8e8f6f_o.png" alt="node" width="49" height="49"></li>
              </ul>
            </section>
          </div>
          <a href="/about" class="go-help">Detail</a>
        </li>
      
      </ul>
      
    </div>
    </div>
  </div>
  
  <footer id="footer">
    <ul id="left">
      <li>© 2013 <span>www.koheishingai.com</span></li>
    </ul>
    <ul id="right">
      <li id="twitter">Twitter</li>
      <li id="github">Github</li>
      <li id="codepen">Codepen</li>
      <li id="mail">Mail</li>
    </ul>
  </footer>
  
  <div id="remote">
    <div id="rhead">...</div>
    <div class="icon" id="phone"></div>
    <div class="icon" id="color"></div>
    <div class="icon last" id="top"></div>
  </div>

  <div id="colorm">
    <div id="cbox">
      <div id="close"></div>
      <div id="mhead">
        <span id="mmti">Chose a theme</span>
      </div>
      <div id="mcont">
        <div id="mconth"></div>
        <div id="mcontt">From KoheiShingai</div>
        <div id="wrapomc">
        <div id="theme1" class="outmc onm">
        <div class="outmcin">
          <div class="themes" id="defgre">Default Greyscale</div>
        </div>
      </div>
      <div id="theme2" class="outmc">
        <div class="outmcin">
          <div class="themes" id="dayt">Day Dream</div>
        </div>
      </div>
      <div id="theme3" class="outmc">
        <div class="outmcin">
          <div class="themes" id="stra">Strawberry</div>
        </div>
      </div>
    </div>
  </div>
    <div id="okbtn">OK</div>
  </div>
</div>

  <div id="colorm2">
    <div id="cbox">
      <div id="close"></div>
      <div id="mhead">
        <span id="mmti">Sync with Mobile</span>
      </div>
      <div id="mcont">
    </div>
  </div>
    <div id="okbtn">OK</div>
  </div>
</div>

<div id="menumsk">
  <div id="msktxt">
    <a href="/about" style="text-decoration:none;"><div id="msabout" class="msktxts">About</div></a>
    <a href="/works" style="text-decoration:none;"><div id="msworks" class="msktxts">Works</div></a>
    <a href="/collections" style="text-decoration:none;"><div id="mscollections" class="msktxts">Collections</div></a>
    <a href="/article" style="text-decoration:none;"><div id="msarticle" class="msktxts">Article</div></a>
    <div class="msktxts" id="colormsk"></div>
  </div>
</div>
<script>
  $(function(){
    if($("window").innerWidth() > 700){
      $('#tit1').fitText(1.7);
      $('#txt2').fitText(5);
      $('#titlep').fitText(3.8);
      $('.btn-blue.btn-join').fitText(0.9);
    }
  });
</script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
<script>
  $(function(){
    var socket = io.connect('http://www.koheishingai.com:8080');
  });
</script>
</body>
</html>